* {
    display: flex;
    flex-direction:column;
    font-family: Bungee;
    font-variant-caps: all-small-caps;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    
}

html {
    background-color:snow;
    background-image:linear-gradient(to left, #e6ffff, rgb(230, 255, 255, .2));
    margin-left: 0px;
    margin-right: 0px;
}
    



body { 
    margin-top: 0 !important;
    padding: 0 !important;
    margin-left: 0px;
    margin-right: 0px;
    
}
}

h1 {
    font-size: 60px;
}
/* 4 - Navlink color */
/* 10a - Navbar styling in accordance with style guide */
.topLineMenu {
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    color: #7944e6;
    height: 110px;
    width: 100vw;
    overflow: visible;
    position:fixed;
    background: rgb(255, 255, 255, .7)
}

.topLineButtons {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-self:center;
    align-items: center;
    list-style-type: none;
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    margin: 0px;
    padding:0px 40px 0px 0px;
    /* text-align: row; */
    font-family: Bungee;
    /* padding: 20px 15px 6px 15px; */
}

li {
    margin: 0px 4px 0px 4px;
}

#leftHead {
    display:flex;
    justify-self: left;
    margin: 0px;
    height: auto;
    width: auto;
    min-width: 30px;
    min-height: 20px;
    box-sizing: border-box;
}

/* 4a - Nav link color */
/* 6 - Anchor tags without underlines */
a {
    text-decoration: none;
    color:#7944e6;
    font-size: 28px;
}
/* 7 Nav link color change */
a:hover {
    text-decoration: none;
    color: #10fdff;
}

/* 2 - Vertical layout below the header for mobile layout */
/* 4b - Background accent color */
.headP {
    background: #ff00ff;
    background-size: contain;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width:auto;
    height:auto;
    padding:100px 50px 50px 50px;
    margin-top:90px;
}

#headPHead {
    margin-bottom: 0px;
}

#headPP {
    margin-top: 0px;
}

#iceCreamTruck{
    display:flex;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top; 25%;
    width: 60%;
    padding-top: 25px;
}

.cardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 4c - Border color on three cards */
.card {
    display: flex;
    justify-content: space-between;
    border: 5px solid #7944e6;
    box-shadow: 0px 4px 8px 0px;
    width: 80vw;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}

.card:hover {
    box-shadow: 0px 8px 16px 0px;
}

.cardImgBox {
    height: auto;
    width: 75%;
    box-sizing:border-box;
    margin: 25px 25px;
    object-fit: contain;
}

.cardImg {
    box-sizing: border-box;
    align-self: center;
    margin: 0px;
    padding: 0px;
    max-width: 250px;
    max-height: 200px;
    object-fit: cover;
}

.menuLinkButton {
    padding: 10px 10px 50px 10px;
}

/* 1 - Media Query, changing styles at specified width using min-width property */
/* 3 - Desktop design horizontal for 'About' section */
@media screen and (min-width: 768px) {
    .headP {
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      align-content: center;
      align-items: center;
      flex-wrap: nowrap;
      align-content: flex-start;
      box-sizing: border-box;
      width:fit-content;    
      height: 350px;
      margin-top: 100px;
    }

    .topLineMenu {
        width: 100%;
    }

    .topLineButtons {
        margin-right: 10px;
    }

    #leftHead {
        padding-top: 20px;
        object-fit: contain;
    }

    #headPHead {
        margin-bottom: 0px;
    }

    #headPP {
        margin-top: 0px;
    }

    #aboutP{
        margin-left:50px;
        margin-right:0px;
        margin-bottom: 50px;
        padding-left: 20px;
    }

    #iceCreamTruck {
        height: 200px;
        width: auto;
        border: 0;
        padding: 0;

    }

    /* 3a - Desktop design horizontal layout for cards */
    .cardBox {
        display: flex;
        align-self:center;
        justify-content: center;
        flex-direction: row;
        width:100%;
    
    }
    
    .cardImgBox {
        box-sizing: border-box;
        margin: 0px;
        max-width: 250px;
        max-height: 200px;
        object-fit: cover;
    }
    
    .card {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 400px;
        flex: 0 1 calc(25% - 1em);
        margin: 10px 20px;
    }

    .cardImg {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        max-width: 250px;
        max-height: 200px;
        object-fit:contain;
    }

    .cardHead {
        margin: 0;
    }

   
}

